@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;

  font-weight: medium;
}
:root {
  --purple: #7310FF;
  --cyan: rgba(3, 204, 227, 1);
}

body {
  overflow-x: hidden;
  /* background-color: #7310FF; */
}



